/*
 * Header style
 */
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

#content {
	width:100%;
	position:absolute;
	top:50px;
	bottom:50px;
	left:0;
}

#playlist {
	position:absolute;
	top:10px;
	bottom:10px;
	width:10%;
	background:#222;
	overflow:auto;
}

#loader {
  width:10%;
  height:50px;
  position: absolute;
  top:50%;
  left:50%;
  margin:-50px 0 0 -5%;
  color: #fff;
  background: #111;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  opacity: 0.9;
  border: 1px solid #ccc;
  text-align: center;
  line-height:50px;
}

#loader a {
  color: #fff;
  font-size:26px;
  text-shadow: 0 0 10px #fff;
  text-decoration: none;
}

#loader p{
  color: #fff;
  font-size: 18px;
}